
 


///////////////////////////////////////

.contacts__header{
	height: 104px;
	background-color: #fff;
	border-bottom: 1px solid @blue-color;
	margin: 0;
	padding: 0;
	& .Menu-link{
		line-height: 30px;
		&:hover{
			border-bottom: 1px solid @blue-color;
		}
	}
	& .call-grey{
		color: @grey;
		margin-top: -80px;
		margin-left: 50px;
	}

}

.main__area{
	height: 951px;
	background-image: url('../img/transparent-bgc3.png');
	background-size:100% 100%;
	opacity: 0.3;

	// & *{
	// 	border: 1px solid @blue-color;
	// }
	 
	 & .contacts__header{
	 	color:#323232;
	 }

}

