.carousel__area{
  //border:0px;
  height: 160px;
  width: 650px;
  //margin-top: 88px;
}
//.vcenter {
//  display: inline-block;
//  vertical-align: middle;
//  float: none;
//}
#slide1,#slide2,#slide3{
height: 300px;
  border: none;
  color:white;
  opacity: 1;
}
.shape {
  display: inline-block;
  height:100%;
  width: 300px;
  border: 5px solid  @blue-color ;
  padding-bottom:50px;

}
#myCarousel .item{
height: 100%;
}
.item{
  border: 1px solid black;
}
.carousel-control {
position: absolute;
top: 50%;
z-index: 5;
display: inline-block;
}
.carousel-control.left, .carousel-control.right {
background-image: none
}

.carousel-indicators{
bottom:0px;
}
@media(max-width: 480px){

}
@media(max-width: 768px){

}
@media(max-width: 1200px){

}