.Menu-list{
  list-style-type: none;
  & li {
    display: inline-block;
    padding: 0 40px;
    & a{
      display: block;
      font-family:"OpenSansLight";
      text-decoration: none;
      color:white;
     // padding-bottom:;
      &:hover{
        border-bottom: 1px solid #33b4fc;
      }
    }
  }
}

//.Menu{
//  &-list{
//    margin: 0;
//    padding: 0;
//    list-style: none;
//  }
//  &-item{
//    display: inline-block;
//    margin-right: 40px;
//  }
//  &-link{
//  	display: inline-block;
//  	height: 90px;
//  	text-align: center;
//  	text-decoration: none;
//
//  	&:after{
//  	content: "";
//   	display: inline-block;
//   	vertical-align: middle;
//   	height: 100%;
//  	}
//  }
//}