 *{
 	margin: 0px;
 	padding: 0px;
 	box-sizing: border-box;
 }
 .bgc{
	 background-color: #fff;
	 border: 1px solid black;
 }


///////////////////////////////////////////////////////////////
.fullwidth{
	width: @width;
	margin: 0 auto;
}
/////header////////////
.header__area{
	height: 838px;
	background-image: url('../img/header-bgc.png');
	background-size:100% 100%;
}
.nav_menu{
	height: 104px;
	line-height: 104px;
}

.navbar__wrapper{
	width:@content-width;
	height:104px;
}
.logo{
	margin-top: 19px;
}
.logo-txt{
	font-family:"BebasNeueBold";
	text-transform: uppercase;
	margin-top:17px;
	color: white;
	font-size:20px;
}
 .logo-txt-grey{
	 color: #333333;
 }
 .number-grey{
	 color: #333333;
 }

.agency__header{
	margin-top:116px;
	font-family:"OpenSansBold";
	font-size:29px;
	text-transform: uppercase;
	color: white;
	border-bottom: 0px;
}
.agency__header__sub{
	color: white;
	font-family:"OpenSansLight";
	font-size:13px;
}
.contact__wrapper{
	display: block;
	color: white;
	& .number{
		color: white;
		font-size:19px;
		font-family: "OpenSansBold";
	}
	& .call{
		color: white;
		font-size:12px;
		font-family: "OpenSansLight";
	}
}
.carousel__area{
	margin-top: 100px;
	border: 1px solid black;
	float: none; 
	margin-left: auto; 
	margin-right: auto; 
}
//////////////FLAG
 .flag {
	 position: relative;
	 z-index: 1;
	 margin-top: -12px;
	 border: 15px solid @blue-color;
	 width: 20px;
	 border-bottom: 20px solid transparent;
	 margin-bottom: -3px;
 }

.stat__area{
	position: relative;
	z-index: 1 ;
	width: @width;
	height: 440px;
	background-image: url('../img/transparent-bgc.png');
	background-size:100% 100%;

	& .agency__header{
		margin-top: 64px;
		text-transform: uppercase;
		color: #333333;
		border-bottom: 0px;
	}

	& .company__stat{
		width: 220px;
		&__header{

			display: block;
			border-bottom: 2px solid #333333;
		}
	}
}

.advantage__area{
	margin-top: -15px;
	height: 623px;
	background-image: url('../img/transparent-bgc2.png');
	background-size:100% 100%;

	& .agency__header{
		margin-top: 70px;
		border-bottom: 0px;
	}

	& .case__wrapper{
		margin: 0 auto;
		& .center{
			display: inline-block;
			margin:0 auto;
		}

		&__item{

			margin-top:82px;
			width: 300px;
			height: 146px;
			overflow: hidden;

			&:hover{
				display: inline-block;
				width: 300px;
				height: 300px;
				padding: 20px;
				background-color: black;
				opacity: 0.5;
			}
		}

		& p{
			padding-top:26px;
			color: white;
		}
	}
}
 ///////////////////NEWS AREA//////////////////////

	.news__area {
		height: 1332px;
		background-image: url('../img/transparent-bgc3.png');
		background-size: 100% 100%;
		& .news__wrapper{
			margin-top: 104px;
		}
		& .news1{
			color: white;
			height: 297px;
			.bgc-img-fullscreen('../img/news-bgc1.png');
		}
		& .news2{
			height: 300px;
			background-color: #ffffff;
		}
		& .news3{

			height: 592px;

			.bgc-img-fullscreen('../img/news-bgc6.png');
		}
		& .news4{

			height: 297px;
			.bgc-img-fullscreen('../img/news-bgc5.png');
		}
		& .news5{

			height: 297px;
			.bgc-img-fullscreen('../img/news-bgc3.png');
		}
	}

///////////////////////FOOTER///////////////////////////////
.footer__wrapper {
	height: 160px;
	background-color: @grey;
	color:white;
}
