 *{
 	margin: 0px;
 	padding: 0px;
 	box-sizing: border-box;
 }
 .bgc{
	 background-color: #fff;
	 border: 1px solid black;
 }

html,body {
	min-height: 100%;
	margin-bottom: -160px;
}
 textarea {
	 resize:none;
 }
///////////////////////////////////////////////////////////////
.fullwidth{
	width: @width;
	margin: 0 auto;
}
/////header////////////
.header__area{
	height: 838px;
	background-image: url('../img/header-bgc.png');
	background-size:100% 100%;

	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#email-error{
	display: none;
}
.nav_menu{
	height: 104px;
	line-height: 104px;
}

.navbar__wrapper{
	width:@content-width;
	height:104px;
}


.logo{
	margin-top: 19px;
}
.logo-txt{

	.logo-text-mx(white);
}
 .logo-txt-grey{
	 .logo-text-mx(#333333);
 }

 .number-grey{
	 font-size:24px;
	 color: @grey;
 }

 .agency__header{
	 margin-top:116px;
	 font-family:"OpenSansBold";
	 font-size:29px;
	 text-transform: uppercase;
	 color: white;
	 border-bottom: 0px;
 }
 .agency__header__sub{

	 color: white;
	 font-family:"OpenSansLight";
	 font-size:13px;
 }

.contact__wrapper{
	display:inline-block;
	color: white;
	//text-align: right;

	& .contact__wrapper__right{
		& p{
			display: block;
			height: 30px;
			text-align: right;
		}

		& .number{
			color: #fff;
			font-size:24px;
			font-family: "OpenSansBold";

			& .logo{
				padding-right:0px;
			}

		}
		& .call{
			color: white;
			font-size:22px;
			font-family: "OpenSansLight";
			margin: 0;
			padding: 0;
			border: 0px;
			&:focus{
				border: 0px;
				line-height: 0px;
			}
		}

	}


}

.carousel__area{
	margin-top: 100px;
	border: 1px solid black;
	float: none; 
	margin-left: auto; 
	margin-right: auto; 
}
//////////////FLAG
 .flag {
	 position: relative;
	 z-index: 1;
	 margin-top: -12px;
	 border: 15px solid @blue-color;
	 width: 20px;
	 height: 30px;
	 border-bottom: 20px solid transparent;
	 margin-bottom: -3px;
 }
///////////////////////////////////STAT AREA/////////////////////////
.stat__area{
	position: relative;
	z-index: 1 ;
	width: @width;
	height: 440px;
	background-image: url('../img/transparent-bgc.png');
	background-size:100% 100%;

	& .agency__header{
		margin-top: 64px;
		font-size:30px;
		text-transform: uppercase;
		color: #333333;
		font-family:"OpenSansBold";
		border-bottom: 0px;
	}

	& .company__stat{
		width: 220px;
		&__header{
			font-size:30px;
			display: block;
			font-family:"OpenSansBold";
			border-bottom: 2px solid #333333;

			& p{
				font-family:"OpenSansLight";
				font-size:20px;
			}
		}

	}
}
/////////ADVANTAGE///////////////////////
.advantage__area{
	margin-top: -15px;
	height: 623px;
	background-image: url('../img/transparent-bgc2.png');
	background-size:100% 100%;

	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
	& .agency__header{
		margin-top: 70px;
		font-size:30px;
		font-family:"OpenSansBold";
		border-bottom: 0px;
	}

	& .case__wrapper{
		margin: 0 auto;

		&__item{
			display: inline-block;
			margin-top:60px;
			font-family:"OpenSansLight";
			font-size:24px;
			width: 300px;
			height: 170px;
			overflow: hidden;
			padding: 0;
			margin-right:0px;

			&:hover{
				-webkit-transition: all 500ms ease;
				-moz-transition: all 500ms ease;
				-ms-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;
				display: inline-block;
				font-family:"OpenSansLight";
				color: #fff;
				font-size:20px;
				width: 300px;
				height: 300px;
				padding: 20px;
				background-color: black;
				opacity: 0.4;
				position: relative;
				z-index: 5;
			}

			& .addition{
				margin-top:-15px;

				& img{
					margin-top:15px;
					margin-bottom:45px;
				}

				& p{

					padding: 0;
					margin: 0;
					margin-top:-20px;
					font-size:18px;
					opacity: 1;

				}
			}
		}

		& p{
			padding-top:26px;
			color: white;
		}
	}
}
 ///////////////////NEWS AREA//////////////////////

	.news__area {

		height: 1175px;
		background-image: url('../img/transparent-bgc3.png');
		background-size: 100% 100%;
	}

///////////////////////FOOTER///////////////////////////////
.footer__wrapper {
	height: 160px;
	background-color: @grey;
	color:white;
	position: relative;
	margin: 0;
	padding: 0;

	

	& .location{
		margin: 0;
		margin-top:30px;
		padding: 0;
		text-align: left;
		width: 400px;

		& .img__middle{
			padding-top: 30px;
			//padding-right:30px;
			width: 60px;
			float: left;
		}
		& .text__footer{
			width: 270px;
			float: left;

			& a{
				text-decoration: none;
				color: @blue-color;
			}
		}

	}

	& .numbers{
		height: 100%;
		margin: 0;
		margin-top:30px;
		padding: 0;
		float: right;
		text-align: justify;
		width: 400px;

		& .img__middle{
			padding-top: 40px;
			width: 30px;
			margin-left:30px;
			float: right;
		}
		& .text__footer{
			vertical-align: middle;
			height: 100%;
			width: 100px;
			float: right;


		}

		& ul{
			list-style-type:none;

			& li{
				line-height: 2em;

				&:nth-child(2n){
					color:@blue-color;
				}
			}
		}

	}
}

 /* ---- grid ---- */
.grid{
	
	margin-top: 104px;
	max-height: 1200px;
	&-item{
		margin: 0;
		padding: 0;
		border: 0;
		&-content{

	  height: 297px;
	  background: #D26;
	  //border: 2px solid hsla(0, 0%, 0%, 0.5);
		
	  &.n0{
		background: url('../img/news-bgc1.png');
		  .link-custom-row(white);

	  }
	  &.n1{
		  background-color: white;
		  text-align: center;
		  text-transform: uppercase;

		  & p{
			  position: absolute;
			  top:40%;
			  left:18%;

			  font-family:"OpenSans-Bold";
			  color: #252525;
			  font-size: 48px;
		  }

	  }
	  &.n2{
		background: url('../img/news-bgc5.png');
		  .link-custom-row(#252525);
	  }
	  &.n3{
		background: url('../img/news-bgc4.png');
		  .link-custom-row(white);
	  }
	  &.n4{
		background: url('../img/news-bgc6.png');
		  .link-custom-row(white);
	  }
	  &.n5{
		background: url('../img/news-bgc4.png');
		  .link-custom-row(white);
	  }
	  &.n6{
		background: url('../img/news-bgc5.png');
		  .link-custom-row(#252525);
	  }

	  &--height2 { height: 592px; }
 	}

 	 
	}

}





