@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.stat__area{
		height: 800px;
	}
	.header__area{
		height: 600px;
	}

	.adv-area-config();

	.news-area-conf(1375px);
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.container{}
	.shape {
	  display: inline-block;
	  margin: 0 auto;
	  border: 5px solid  @blue-color ;
	}

	.carousel__wrapper{
		margin-top: -40px;
	}
	.header__area{
		height: 600px;
	}
	.stat__area{

		height: 850px;
	}
	
	.adv-area-config();
	.agency__header{
			& .line-img{
				display: none;
			}
		}
	.news-area-conf(2530px);

	.nav_menu{
		margin-top: -40px;
	}


	.carousel-control.left, .carousel-control.right {
		display: none;
	}


	.nav_menu{
		margin-top: 0px;
	}
	.logo__wrapper{
		display: inline-block;
		vertical-align: middle;
	}
	
	.btn__link{
		display: inline-block;
		vertical-align: middle;
		height: 40px;
		width: 40px;

		border-radius: 50%;
		background-color: #e84545;
	}
	.container__footer{
		margin: 0;
		padding: 0;
	}
	.navbar-header{
		background-color: #1B242B;
		height: 100%;
		width: 100%;
		//opacity: 0.5;
	}

	#top_menu{
		position: relative;
		z-index: 1;
		margin: 0;
		padding: 0;
		
		& .Menu-list-grey{
			display: block;
		}

		& .Menu-item{
			margin: 0;
		padding: 0;
			background-color: #1B242B;
			display: block;
			text-align: center;
		}
		
		& .Menu-link{
			width: 100%	;
			display: block;
		}
	}

	.footer__wrapper{
		margin: 0;
			padding: 0;
		& *{
			margin: 0;
			padding: 0;
		}

		& .row{
			height: 100%;
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.carousel__area{
		display: none;
	}
	.stat__area{
		height: 900px;
	}

	.header__area{
		height: 500px;
	}

	.advantage__area{
			
		margin-top: -50px;
		height: 1100px;
			
		& .case__wrapper__item {
			width: 200px;

			&:hover{
				width: 200px;
			}
		}
		
		& .agency__header{
			& .line-img{
				display: none;
			}
		}

		& .wrapper__item{
			display: inline-block;

			& .case__wrapper__item {

			}
		}
	}

	.news-area-conf(2550px);

	.nav_menu{
		margin-top: -40px;
	}
	.logo__wrapper{
		display: inline-block;
		vertical-align: middle;
	}
	
	.btn__link{
		display: inline-block;
		vertical-align: middle;
		height: 40px;
		width: 40px;

		border-radius: 50%;
		background-color: #e84545;
	}
	.container__footer{
		margin: 0;
		padding: 0;
	}
	.navbar-header{
		background-color: #1B242B;
		height: 100%;
		width: 100%;
		//opacity: 0.5;
	}

	#top_menu{
		position: relative;
		z-index: 1;
		margin: 0;
		padding: 0;
		
		& .Menu-list-grey{
			display: block;
		}

		& .Menu-item{
			margin: 0;
		padding: 0;
			background-color: #1B242B;
			display: block;
			text-align: center;
		}
		
		& .Menu-link{
			width: 100%	;
			display: block;
		}
	}

	.footer__wrapper{
		margin: 0;
			padding: 0;
		& *{
			margin: 0;
			padding: 0;
		}

		& .row{
			height: 100%;
		}
	}
}

/* Custom, iPhone Retina */

@media only screen and (max-width : 320px) {
	.carousel__area{
		display: none;
	}
	.header__area{
		height: 500px;
	}
	
	.stat__area{
		height: 1000px;
	}
	.advantage__area{
			
		margin-top: -50px;
		height: 1100px;
			
		& .case__wrapper__item {
			width: 200px;

			&:hover{
				width: 200px;
			}
		}
		
		& .agency__header{
			& .line-img{
				display: none;
			}
		}

		& .wrapper__item{
			display: inline-block;

			& .case__wrapper__item {

			}
		}
	}
	
	.news-area-conf(2530px);


	.nav_menu{
		margin-top: -40px;
	}

	.logo__wrapper{
		display: inline-block;
		vertical-align: middle;
	}
	
	.btn__link{
		display: inline-block;
		vertical-align: middle;
		height: 40px;
		width: 40px;
		margin-right: 0 auto;
		border-radius: 50%;
		background-color: #e84545;
	}
	.container__footer{
		margin: 0;
		padding: 0;
	}
	.navbar-header{
		background-color: #1B242B;
		height: 100%;
		width: 100%;
		//opacity: 0.5;
	}

	#top_menu{
		position: relative;
		z-index: 1;
		margin: 0;
		padding: 0;
		
		& .Menu-list-grey{
			display: block;
		}

		& .Menu-item{
			margin: 0;
			padding: 0;
			background-color: #1B242B;
			display: block;
			text-align: center;
		}
		
		& .Menu-link{
			width: 100%	;
			display: block;
		}
	}

	.footer__wrapper{
		margin: 0;
		padding: 0;
		// & *{
		// 	margin: 0;
		// 	padding: 0;
		// }

		.footer__row{
			height: 100%;
			color: grey;
		}
	}
}