@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.carousel__area{
		  border:0px;
		  height: 160px;
		  width: 100px;
		  margin-top: 88px;
		}

	.carousel-control.left, .carousel-control.right {
		display: none;
		}


	.nav_menu{
		margin-top: -40px;
	}
	.logo__wrapper{
		display: inline-block;
		vertical-align: middle;
	}
	
	.btn__link{
		display: inline-block;
		vertical-align: middle;
		height: 40px;
		width: 40px;

		border-radius: 50%;
		background-color: #e84545;
	}
	.navbar-header{
		background-color: #1B242B;
		opacity: 0.5;
	}
	#top_menu{
		position: relative;
		z-index: 1;
		margin: 0;
		padding: 0;
		
		& .Menu-list{
			display: block;
		}

		& .Menu-item{
			margin: 0;
		padding: 0;
			background-color: #1B242B;
			display: block;
			text-align: center;
		}
		
		& .Menu-link{
			width: 100%	;
			display: block;
		}
	}

		
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}