*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about__header{
  border-bottom:2px solid @blue-color;


  & .contact__wrapper{
    display:inline-block;
    color: white;
    //text-align: right;

    & .contact__wrapper__right{
      & p{
        display: block;
        height: 30px;
        text-align: right;
      }

      & .number{
        color: @grey;
        font-size:24px;
        font-family: "OpenSansBold";

        & .logo{
          padding-right:0px;
        }

      }
      & .call{
        color: @grey;
        font-size:22px;
        font-family: "OpenSansLight";
        margin: 0;
        padding: 0;
        border: 0px;
        &:focus{
          border: 0px;
          line-height: 0px;
        }
      }

    }


  }

}

& .tittle__area{
  margin:0;
  padding:0;
  height: 369px;
  background-image: url('../img/object-page/bg-arro-bubble.png');
  background-size:100% 100%;
   & .agency__header{
    color: @grey;
  }
  & .agency__header__sub{
    color: @grey;
  }

  & .middle__txt{
    color: @grey;
    margin-top: 30px;
  }

}

& .map__area{
  margin: 0;
  padding: 0;
  margin-top:30px;
  height: 577px;
}

& .add__area{
  margin: 0;
  padding: 0;
  height: 410px;
  //& .container{
  //  border: 1px solid black;
  //}
  //& .col-md-4{
  //  border: 1px solid black;
  //}

 & .flat__types{


   margin-top:65px;

   & .types__list{
     list-style-image: url('../img/object-page/house-icon.png');

     &__item{
       list-style-image: url('../img/object-page/house-icon.png');
       margin-top:35px;
       height: 100%;
       color: @grey;
       font-size:18px;

       font-family:"OpenSansLight";
       //width:360px;


     }
   }
 }
  & .blue_btn{
    background-color: #1298e3;
    height: 60px;
    width: 367px;
    font-size:26px;
    margin-top:75px;
    font-family: "OpenSans-Bold";

    & img{
      margin-right:7px;
    }

  }
}

& .search__area{
  margin:0;
  padding:0;
  height: 290px;
  background-color:#33b4fc ;

  & span, & p{
    font-family:"OpenSansLight";
    font-size:18px;
    color: #fff;
  }
  & label{
    color: #fff;
    font-family: "OpenSansLight";
    font-size:18px;
  }
  & .page-header{
    color: #fff;
    border: 0;
  }

  & .ot, & .do{
    border-radius: 5px;
    width: 100px;
    height: 35px;

  }

  & .btn{
    width: 220px;
    background-color: #fff;
    margin-top:20px;
    text-align: left;
  }
  & .caret{
    text-align: right;
  }

  & .radio{
    color: #fff;
  }
  & .red__button{
    background-color: #ff4800;
    color: #fff;
    text-align: center;
  }
}

& .result__area{
  height: 3093px;
  margin:0;
  padding:0;
  background-image: url('../img/object-page/big-bgc.png');
  background-size:100% 100%;

  & .result__wrapper{
    height: 100%;
    //background-color: #fff;

    & .about{
      padding: 0;
      margin: 0;
      margin-left:25%;
      //margin-top: -100px;
    }

    & .agency__header{
      color: @grey;
    }

    & .row__table{
      margin-left: -70px;
    }

    & .table-responsive{

      background-color: #fff;
      width: 100%;
      padding:50px;
      border-bottom-left-radius:20px;
      border-bottom-right-radius:20px;
      padding-bottom:250px;

      margin: 0px 66px 0 66px;
      overflow-x: initial;


    }
    & table{

      //margin: 0 auto;
      width: 100%;
      //clear: both;
      //border-collapse: collapse;
      //table-layout: fixed;
      //word-wrap:break-word;

      & .just{
        & img{
          padding-right:5px;
          height: 30px;
        }
      }

      & .code__color{
        & span{
          color:@blue-color;
        }
      }
      & .rooms_color{
        & span{
          color:@blue-color;
        }
      }

      & .price__btn{
        & button{
          margin-top: 5px;
          color: @blue-color;
          border: 1px solid @blue-color;
          width: 190px;
        }
      }
    }
   }

}


@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */

@media only screen and (max-width : 320px) {
  & .contact__wrapper{
    display:inline-block;
    color: white;
    //text-align: right;

    & .contact__wrapper__right{
      & p{
        display: block;
        height: 30px;
        text-align: right;
      }

      & .number{
        color: @grey;
        font-size:24px;
        font-family: "OpenSansBold";

        & .logo{
          padding-right:0px;
        }

      }
      & .call{
        color: @grey;
        font-size:22px;
        font-family: "OpenSansLight";
        margin: 0;
        padding: 0;
        border: 0px;
        &:focus{
          border: 0px;
          line-height: 0px;
        }
      }

    }


  }
}

